<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://unisales.br"><img src="/img/LogoUnisales.png" width="160" height="70" ></a>
    <a class="navbar-brand" href="/">Guia-Alimentação</a>
    {{#if user}}
   <ul class="navbar-nav">
        <li class="nav-item">
    <a class="nav-link active" href="/admin/">Admin</a>
        </li>
    </li>
    </ul>
    {{/if}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/alimentacao">Formulario</a>
        </li>
        {{#if user}}
                <li class="nav-item">
          <a class="nav-link active" href="/adminuser/logout">Sair</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link active" href="/adminuser/registro">Registro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/adminuser/login">login</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>