<div class="container mt-3" style="background-color : aquamarine;">
   <div id="Recomendações" style="font-size:200%;color:rgb(0, 0, 0);text-shadow: #86a52a;margin:5%; background-image: linear-gradient(aquamarine, rgb(9, 255, 0))">
        <h3 style="font-style: italic; color :rgb(0, 46, 0)">0-31: Há espaço para melhoria. </h3>
    <h3 style="font-style: italic; color :rgb(0, 46, 0)">31-41: Pontuação mediana, mas já serve como um bom exemplo.   </h3>
    <h3 style="font-style: italic; color :rgb(0, 46, 0)">41-72: Parabéns, sua alimentação é exemplar.</h3>
    <h1 style="font-style: italic; color :rgb(0, 46, 0)">Sua pontuação: {{resultado}}</h1>
    <form action="/adminuser/logout" method="POST">
        <button type="submit" class="btn btn-success">REJOGAR</button>
    </form>

</div>
</div>
