<form action="/add" method="POST">
<p>Email</p>
<input type="text" name="email" id="">
<p>Ano De Nascimento</p>
<input type="date" name="nascimento"> <br>
<button type="submit" name="" style="height:25px; width:60px">enviar</button>
</form>