{{#each erros}}
<div class = "alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}
<h3>Bem vindo ao estudo de alimentação</h3>
<div class="card" style="background-color:aqua">
<div class="card-body">
<a href="/adminuser/login"><button  class="btn btn-success" >LOGIN</button></a>
<a href="/adminuser/registro"><button class = "btn btn-success mt-6">REGISTRO</button></a>
<a href="/adminuser/ReenviarToken"><button class = "btn btn-success mt-6">Reenvio de Confirmação</button></a>
</div>
</div>