 <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Reenviar Token de Confirmação</h2>
                        <form action="/adminuser/reenviartoken" method="POST">
                            <div class="form-group">
                                <label for="email">E-mail registrado:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Reenviar Token</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>